.Header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999;
	width: 100vw;
	height: 9rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 1rem;
	background-color: transparent;
}
