.Info {
  width: 100vw;
  height: 85vh;
  background-color: #868686;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  padding-inline: 6rem;

  .InfoTitle {
    font-weight: 600;
    font-size: 3.2rem;
    padding-bottom: 1.5rem;
  }

  .InfoText {
    font-size: 1.4rem;
  }
}