.Links {
	width: 100vw;
	height: 80vh;
	background-color: #f0f0f0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	padding-inline: 4rem;

	.LinkTitle {
		font-size: 3.2rem;
		font-weight: 600;
		margin-top: -0.5rem;
	}

	.LinkTextFirst {
		font-size: 1.4rem;
		width: 10rem;
		padding-top: 2rem;
		padding-bottom: 3rem;
	}

	.LinkTextSecond {
		font-size: 1.4rem;
		width: 25rem;
		padding-top: 2rem;
		padding-bottom: 3rem;
	}
}
