.Menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9999999;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	padding-top: 5rem;
	padding-left: 6rem;
	padding-bottom: 2rem;
	background-color: #f0f0f0;

	&.open {
		animation-name: appear;
		animation-duration: .4s;
		animation-timing-function: ease-in-out;
	}

	&.close {
		display: none;
	}

	&.fade {
		animation-name: disappear;
		animation-duration: 0.6s;
		animation-timing-function: ease-in-out;
	}

	.MenuLinks {
		display: flex;
		flex-flow: column nowrap;
		gap: 5rem;

		.MenuLink {
			font-size: 2.2rem;
			font-weight: 600;
			color: $black;
			text-decoration: none;
		}
	}

	.MenuContact {
		display: flex;
		flex-flow: column nowrap;
		font-style: italic;
		font-size: 1.4rem;
		gap: 1rem;

		.MenuContactTitle {
			font-weight: 600;
			font-size: 1.8rem;
		}

		.MenuContactText {
			font-style: italic;
			font-size: 1.4rem;
			text-decoration: none;

			&:visited {
				color: $black;
			}

			&:link {
				color: $black;
			}
		}
	}

	.MenuSocial {
		display: flex;
		gap: 3rem;

		.MenuInstagram {
			width: 3.5rem;
			height: 3.5rem;
			background-image: url('/assets/instagram.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}

		.MenuGithub {
			width: 3.5rem;
			height: 3.5rem;
			background-image: url('/assets/github.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}
