.MenuButton {
	cursor: pointer;
	width: 6rem;
	height: 6rem;
	border: none;
	background-color: $first;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: bubble 5s ease-in-out infinite;
	transition: 0.5s linear 0s;

	&.open {
		background-color: $white;
	}

	.MenuIcon {
		width: 2.5rem;
		height: 2.5rem;

		&.open {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}
