#Popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px 15px 5px 15px;
  background-color: rgba($grey, 0.8);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
	align-items: center;
	gap: 0.4rem;
	padding: 2.5rem;
	z-index: 99999;

  .PopupTitle {
    font-size: 2rem;
    font-weight: 600;
    color: $white;
  }

  .PopupText {
    font-size: 1.4rem;
    color: $white;
  }
}
