// Colors
$darkFirst: #190016;
$darkSecond: #2b124c;
$darkThird: #522b5b;

$lightFirst: #854f6c;
$lightSecond: #dfb6b2;
$lightThird: #fbe4d8;

$black: #000000;
$white: #FFFFFF;

// Animations
@keyframes bubble {
	0% {
		border-radius: 51% 49% 51% 49%/72% 73% 27% 28%;
	}
	33% {
		border-radius: 29% 71% 68% 32%/72% 48% 52% 28%;
	}
	66% {
		border-radius: 31% 69% 33% 67%/57% 52% 48% 43%;
	}
	100% {
		border-radius: 51% 49% 51% 49%/72% 73% 27% 28%;
	}
}

@keyframes fly {
	from {transform: translateY(0.1rem);}
	to {transform: translateY(-0.1rem);}
}