#Footer {
  width: 100vw;
  height: 17vh;
  background-color: $background;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;

  .FooterTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    .FooterTitle {
      font-size: 1.7rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .FooterText {
      font-size: 1.4rem;
      text-decoration: none;
      color: $black;
      margin-bottom: 0.3rem;

      &:visited {
        color: $black;
      }
    }

    .FooterUp {
      background-image: url('/assets/up.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40%;
      background-color: $lightgrey;
      padding: 2rem;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
    }
  }

  .FooterCopyright {
    font-style: italic;
    font-size: 1.1rem;
  }
}
