@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background: #d7d7d7;
  color: #2D3338;
}

html {
  font-size: 62.5%;
  font-family: "Red Hat Display", sans-serif;
}

@keyframes bubbleOn {
  0% {
    border-radius: 50%;
  }
  20% {
    border-radius: 51% 49% 51% 49%/72% 73% 27% 28%;
  }
  40% {
    border-radius: 29% 71% 68% 32%/72% 48% 52% 28%;
  }
  60% {
    border-radius: 31% 69% 33% 67%/57% 52% 48% 43%;
  }
  80% {
    border-radius: 51% 49% 51% 49%/72% 73% 27% 28%;
  }
  100% {
    border-radius: 50%;
  }
}
@keyframes bubbleOff {
  from {
    border-radius: var(--current-radius);
  }
  to {
    border-radius: 50%;
  }
}
#Loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999999;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: linear 1s;
  opacity: 1;
  transition: opacity 1s, visibility 1s linear;
}
#Loader .Loading {
  background-image: url("/assets/loader.svg");
  background-size: cover;
  width: 10rem;
  height: 10rem;
}

#Loader.Loaded {
  opacity: 0;
  visibility: hidden;
}

#Logo {
  position: fixed;
  top: 2rem;
  left: 2rem;
  background-image: url("/assets/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: #ffffff;
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  z-index: 99999;
}

#Logo.play {
  animation: bubbleOn 8s ease-in-out infinite;
  transition: 0.2s linear 0s;
}

#Logo.stop {
  animation: bubbleOff 0.8s linear;
  transition: 0.2s linear 0s;
}

#Picture {
  position: relative;
  width: 20rem;
  height: 20rem;
}
#Picture .PictureBorder {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  border: #ffffff 3px solid;
  border-radius: 10px 25px 10px 25px;
  width: 100%;
  height: 100%;
}
#Picture .PictureImage {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 10px 25px 10px 25px;
  width: 100%;
  height: 100%;
}

#Cards {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 5rem;
  margin-block: 3rem;
  width: 100%;
}
#Cards .Card {
  position: relative;
  width: 75%;
  height: 16rem;
  border-radius: 5px 25px 5px 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
#Cards .Card .CardImage {
  position: absolute;
  border-radius: 5px 25px 5px 25px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.3);
  z-index: 99;
}
#Cards .Card .CardTitle {
  margin-bottom: -1.5rem;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 600;
  color: #ffffff;
  z-index: 99999;
}
#Cards .Card .CardText {
  font-size: 1.3rem;
  color: #ffffff;
  text-align: center;
  z-index: 999;
}
#Cards .Card .CardLinks {
  display: flex;
  gap: 1.5rem;
  z-index: 9999;
}
#Cards .Card .CardLinks .CardLink {
  background-color: rgba(215, 215, 215, 0.5);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
#Cards .Card .CardLinks .CardLink .CardLogo {
  width: 2.5rem;
  height: 2.5rem;
}

#Popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px 15px 5px 15px;
  background-color: rgba(45, 51, 56, 0.8);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  padding: 2.5rem;
  z-index: 99999;
}
#Popup .PopupTitle {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
}
#Popup .PopupText {
  font-size: 1.4rem;
  color: #ffffff;
}

#Home {
  width: 100vw;
  height: 100vh;
  background-color: #d7d7d7;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2rem;
}
#Home .HomeTitle {
  font-size: 5rem;
  font-weight: 800;
  text-align: center;
}
#Home .HomeSubtitle {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  padding-top: 3rem;
  padding-inline: 2.6rem;
}
#Home .HomeText {
  font-size: 1.3rem;
  padding-inline: 2.9rem;
  padding-block: 0.3rem;
}

#Info {
  width: 100vw;
  height: 100vh;
  background-color: #bbbbbb;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  padding-left: 3rem;
}
#Info .InfoTitle {
  width: 100%;
  font-weight: 600;
  font-size: 3.2rem;
  margin-bottom: 1rem;
}
#Info .InfoText {
  width: 80%;
  font-size: 1.4rem;
}

#Projects {
  width: 100vw;
  background-color: #d7d7d7;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  padding-inline: 3rem;
  padding-block: 5rem;
}
#Projects .ProjectsTitle {
  width: 100%;
  font-weight: 600;
  font-size: 3rem;
}

#Contact {
  background-color: #bbbbbb;
  width: 100vw;
  height: 100vh;
  padding-inline: 3rem;
  padding-top: 5rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 3.5rem;
  position: relative;
}
#Contact .ContactTitle {
  width: 100%;
  font-weight: 600;
  font-size: 3rem;
}
#Contact #ContactForm {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}
#Contact #ContactForm .ContactLabel {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.6rem;
  gap: 0.8rem;
  font-weight: 600;
  padding-bottom: 3rem;
}
#Contact #ContactForm .ContactLabel .ContactInput {
  font-size: 1.5rem;
  color: #000000;
  border: 1px #000000 solid;
  border-radius: 15px 3px 15px 3px;
  outline: none;
  background-color: transparent;
  height: 4rem;
  padding-left: 0.8rem;
}
#Contact #ContactForm .ContactLabel .ContactInput::placeholder {
  font-size: 1.3rem;
  color: rgba(45, 51, 56, 0.4);
  padding-left: 0.5rem;
}
#Contact #ContactForm .ContactLabel .ContactTextarea {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.5rem;
  color: #000000;
  border: 1px #000000 solid;
  border-radius: 12px 3px 12px 3px;
  outline: none;
  background-color: transparent;
  resize: none;
  padding: 1rem;
}
#Contact #ContactForm .ContactLabel .ContactTextarea::placeholder {
  font-size: 1.3rem;
  color: rgba(45, 51, 56, 0.4);
  padding-left: 0.5rem;
}
#Contact #ContactForm .ContactSubmit {
  color: #000000;
  background-color: transparent;
  border: 1px #000000 solid;
  border-radius: 10px 3px 12px 3px;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Contact #ContactForm .ContactLabel:last-child {
  align-items: end;
}

#Footer {
  width: 100vw;
  height: 15vh;
  background-color: #d7d7d7;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
#Footer .FooterTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
#Footer .FooterTop .FooterTitle {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
#Footer .FooterTop .FooterText {
  font-size: 1.4rem;
  text-decoration: none;
  color: #000000;
  margin-bottom: 0.3rem;
}
#Footer .FooterTop .FooterText:visited {
  color: #000000;
}
#Footer .FooterTop .FooterUp {
  background-image: url("/assets/up.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  background-color: #bbbbbb;
  padding: 2rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
#Footer .FooterCopyright {
  font-style: italic;
  font-size: 1.1rem;
}

/*# sourceMappingURL=styles.css.map */
